html {
    height: 100px;

}



body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0,0,0,1) 13%, rgba(195,59,59,1) 83%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-color: rgba(0,0,0,0);
  }

  img {
    width: 10%;

  }